<!DOCTYPE html>
<html>
    
    <head>
        <title>checker</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <style>
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
            <div class="container">
                <div class="btn-toolbar" style="text-align: right">
                    <a type="button" class="btn btn-primary navbar-btn btn-small" style="text-align: right"
                    href="/check">check</a>
                    <a type="button" class="btn btn-primary navbar-btn btn-small" style="text-align: right"
                    href="/clear">clear</a>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>userlist</h2>
            <table class="table table-condensed" id="life-table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>roomNumber</th>
                    </tr>
                </thead>
                <tbody>
                <% for(var key in userList){ %>
                    <tr>
                        <th><%= key %></th>
                        <th><%= userList[key] %></th>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <hr/>
            
            <h2>roomList</h2>
            <% for(var room in roomList) { %>
                <div class="panel">
                    <div class="panel-heading">
                        <h4>room number: <%= room %></h4>
                    </div>
                    <table class="table table-condensed" id="life-table">
                        <thead>
                            <tr>
                                <th class="col-lg-4">name</th>
                                <th class="col-lg-8">life</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for(var key in roomList[room]){ %>
                            <tr>
                                <th><%= key %></th>
                                <th><%= roomList[room][key] %></th>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>
            </div>
    </body>

</html>